@import 'src/styles/common.scss';

.container {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header_wrap {
    width: 100%;
    height: 28px;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: inline-flex;
    .header_title {
      color: #7684ff;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      word-wrap: break-word;
    }
    .header_left {
      flex: 1 1 0;
      height: 2px;
      background-image: linear-gradient(to right, rgba(118, 132, 255, 0), rgba(118, 132, 255, 1));
      border-radius: 2px;
    }
    .header_right {
      flex: 1 1 0;
      height: 2px;
      background: #161630;
      background-image: linear-gradient(to right, rgba(118, 132, 255, 1), rgba(118, 132, 255, 0));
      border-radius: 2px;
    }
  }

  .list_wrap {
    margin-top: 24px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background: #161630;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #2f31a1 0%, #707eff 50%, #2f31a1 100%) 1;
    border-radius: 6px;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;

    .list_header_wrap {
      width: 100%;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      background: #161630;
      justify-content: flex-start;
      align-items: center;
      gap: 12px;
      display: inline-flex;
    }
    .my_rank_wrap {
      width: 100%;
      height: 56px;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      background: #22235d;
      justify-content: flex-start;
      align-items: center;
      display: inline-flex;
    }
    .list {
      width: 100%;
    }
    .list_item_left {
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      .rank_image {
        width: 25px;
        height: 16px;
      }
    }
    .list_item_middle {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1 1 0;
    }
    .list_item_image {
      border-radius: 10px;
      overflow: hidden;
    }
    .list_item_title {
      margin-left: 4px;
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      word-wrap: break-word;
    }
    .me_wrap {
      margin-left: 4px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 1px;
      padding-bottom: 1px;
      background: #5d42ff;
      border-radius: 3px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      display: inline-flex;
    }
    .me_text {
      text-align: center;
      color: white;
      font-size: 10px;
      font-weight: 500;
      line-height: 12px;
      word-wrap: break-word;
    }
    .list_item_right {
      width: 100px;
      text-align: right;
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      word-wrap: break-word;
    }
  }

  .view_all_wrap {
    margin-top: 24px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .view_all_text {
      text-align: right;
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    .view_all_text:hover {
      color: #fff;
    }
    .right_arrow {
      margin-left: 4px;
      width: 14px;
      height: 14px;
    }
  }
}
