$primary-color: #5d42ff;
$bg-black: #161630;
$bg-blue: #5455ea;
$bg-btn: #5d42ff;
$bg-light-blue: #efecff;
$bg-disabled-btn-color: #b2b0ff;

$padding-24: 0 24px;
$page-min-width: 360px;
$content-width-large-desktop: 1080px;
$divide-992: 992px;
$divide-991: 991px;
$divide-768: 768px;
$divide-767: 767px;
$divide-580: 580px;
$divide-579: 579px;
$divide-510: 510px;
$divide-440: 440px;

$font-white: #fff;
$font-color-primary: #101114;
$font-color-secondary: #979aa1;
$font-color-yellow: #ff9417;
