@import 'src/styles/common.scss';

.padding_h5 {
  padding-left: 16px;
  padding-right: 16px;
}

.padding_pc {
  padding-left: 24px;
  padding-right: 24px;
}

.container {
  width: 100%;
  height: 600px;
  background-color: #161630;
  .rules_text {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
  .rules_text_top_pc {
    margin-top: 33px;
  }
  .rules_text_top_H5 {
    margin-top: 8px;
  }
}
