@import 'src/styles/common.scss';

.container {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .headerWrap {
    margin-left: 24px;
    margin-right: 24px;
    height: 40px;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    display: inline-flex;
    .headerLeft {
      width: 32px;
      text-align: center;
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    .headerMiddle {
      flex: 1 1 0;
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    .headerRight {
      text-align: right;
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
  }
  .list {
    flex: 1;
  }
  .dropdownWrap {
    margin-left: 24px;
    margin-right: 24px;
    height: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    .dropdown {
      width: 100%;
      align-self: stretch;
      padding-left: 12px;
      padding-right: 12px;
      padding-top: 5px;
      padding-bottom: 5px;
      background: #161630;
      border-radius: 24px;
      border: 1px #22235d solid;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;
      display: inline-flex;
      .text {
        flex: 1 1 0;
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        word-wrap: break-word;
      }
      .down_arrow {
        margin-left: 8px;
        width: 12px;
        height: 12px;
      }
    }
  }
  .myRankWrap {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
    height: 56px;
    padding-left: 8px;
    padding-right: 8px;
    background: #22235d;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .list_item_image {
      margin-left: 12px;
      border-radius: 10px;
      overflow: hidden;
    }
    .list_item_title {
      margin-left: 4px;
      color: white;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      word-wrap: break-word;
    }
    .myRankTextWrap {
      height: 100%;
      width: 32px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      display: flex;
      .myRankText {
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }
    .myRankMiddleWrap {
      flex: 1 1 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      .me_wrap {
        margin-left: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 1px;
        padding-bottom: 1px;
        background: #5d42ff;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
        gap: 4px;
        display: inline-flex;
        .me_text {
          text-align: center;
          color: white;
          font-size: 10px;
          font-weight: 500;
          line-height: 12px;
          word-wrap: break-word;
        }
      }
    }
    .myInvitationWrap {
      height: 100%;
      width: 75px;
      display: flex;
      align-items: center;
      .myInvitationText {
        width: 100%;
        text-align: right;
        color: white;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
}
