@import 'src/styles/common.scss';

.container {
  max-width: 600px;
  margin-top: 40px;
  width: 100%;
  background: #23236b;
  border-radius: 6px;
  overflow: hidden;
  border: 2px solid transparent;
  border-image: linear-gradient(to right, #2f31a1 0%, #707eff 50%, #2f31a1 100%) 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
  position: relative;
  .leftBg {
    width: 165px;
    height: 106px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .rightBg {
    width: 165px;
    height: 106px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .header_bg {
    width: 145px;
    height: 28px;
  }
  .estimated_reward {
    margin-top: 14px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    word-wrap: break-word;
  }
  .invitation_amount {
    margin-top: 4px;
    color: #f5a641;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
  .reward_wrap {
    margin-top: 4px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 12px;
    padding-right: 12px;
    .reward_name {
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    .reward_value {
      color: white;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
    }
  }
  .view_all_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    .view_all_text {
      text-align: right;
      color: #979aa1;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
    }
    .view_all_text:hover {
      color: #fff;
    }
    .right_arrow {
      margin-left: 4px;
      width: 14px;
      height: 14px;
    }
  }
}
